<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Flipkart">
	
	<listeners>
		<listener class-name="com.flipkart.utils.ExtentReporterNG" />
	</listeners>
	<test name="Flipkart">
		<classes>
			<class name="com.flipkart.testcase.IndexLoginTest" />
		</classes>
	</test>
</suite>